body{
  background-image:url("https://cdn.surfer.com/uploads/2017/12/ZN_7753.jpg");
  color: black;
}

p{
  font-family:sans-serif,monospace;
}

.column{
  float: left;
  width: 22%;
  padding: 5px;
}

.row{
  content: "";
  clear: both;
  display: table;
}

.container{
  position: relative;
  text-align: center;
  color: yellow;
  font-size: 30px;
  font-family: Impact,sans-serif;
  font-weight: bold;
}

.centered{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}